<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>GuestBook</title>
</head>
<body>

	<style>
		.card {
		box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
		}   
	</style>
    <div class="container" style="max-width: 25rem;">
    
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
		{% load static %}
		<img src="{% static "images/img.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt="">GuestBook</a>
</nav>

    {% for post in posts %}
    </br>
    <div align="center">
        <div class="card bg-light mb-3" style="max-width: 27rem;">
			{% load static %}
			<img class="card-img-top" src="{% static "images/img.jpg" %}">
			<div class="card-body">
				<h5 class="card-title">{{ post.name }}</h5>
				<p class="card-text">{{ post.body }}</p>
            </div>
		</div>
    
    {% endfor %}

</br>
<p>Leave some memories here!</p>
<hr>
    
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Post"/>

        
    </form>
    {% endblock %}
    </div>
	</div>
	</br>
	
</body>
</html>